<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MNG.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MNG.UI.Properties.Settings>
            <setting name="API_URL" serializeAs="String">
                <value>https://localhost:44358/</value>
            </setting>
            <setting name="Refresh_Rate" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="Result_Path" serializeAs="String">
                <value>F:\Mango.Solutions\MNG.FMS\ChemResult\</value>
            </setting>
            <setting name="PMeter1" serializeAs="String">
                <value>192.168.2.108</value>
            </setting>
            <setting name="PMeter2" serializeAs="String">
                <value />
            </setting>
            <setting name="PMeter3" serializeAs="String">
                <value />
            </setting>
            <setting name="PMeter4" serializeAs="String">
                <value />
            </setting>
            <setting name="PMeter5" serializeAs="String">
                <value />
            </setting>
            <setting name="PMeter6" serializeAs="String">
                <value />
            </setting>
            <setting name="PMeter7" serializeAs="String">
                <value />
            </setting>
            <setting name="PMeter8" serializeAs="String">
                <value />
            </setting>
            <setting name="PMeter9" serializeAs="String">
                <value />
            </setting>
            <setting name="PMeter10" serializeAs="String">
                <value />
            </setting>
            <setting name="TempIP" serializeAs="String">
                <value />
            </setting>
            <setting name="Department" serializeAs="String">
                <value>True</value>
            </setting>
        </MNG.UI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
